*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h2 {
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: 19px;
word-spacing: 4px;
color: #303030;
padding-top: 65px;
padding-bottom: 30px;
}
h1{
text-align: center;
font-size: 86px;
line-height: 90px;
font-weight: 600;
color: #000;
text-transform: uppercase;
padding-bottom: 105px;
}

.responsive {
    width: 100%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}


button {
    border: none;
    background-color: transparent;
    margin: 0px 20px;
    cursor: pointer;
}

@media screen and (max-width:1300px) {
    h1 {
        font-size: 66px;
        line-height: 70px;
    }
}


